@import "tailwindcss";

:root {
  --background: #f8f5f0;
  --foreground: #171717;
  --primary: #3a3d38;
}

html,
body {
  height: auto;
}

body {
  overflow-x: hidden;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary); /* add this */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* globals.css */
@layer base {
  button {
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f5f0;
    --foreground: #f8f5f0;
    --primary: #3a3d38;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
